body{
    background-color: rgb(235, 215, 253);
}
.titulo{
    color: rgb(82, 6, 6);
    text-align: center;
    font-family: verdana;
}
#paragrafo{
    font-family: verdana;
    font-size: 20px;
    color: #ec0707;
    text-align: center;
}